<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Here's your joining info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="description">Send this to people you want to meet with. Be sure to save it so you can use it later, too.</div>
        <div class="join-info"  #container>
          <div class="links">
          <div class="VA2JSc">{{link}}</div>
          <span class="tMjy2d">Pin code: {{meetId}}</span>
          </div>
          <div class="copy" title="Copy info" ngxClipboard [cbContent]="link" [container]="container"><i class="fa-regular fa-clone"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
