<div class="callpage-container">
  <app-call-page-header></app-call-page-header>
  <div class="container row" #videoList>
    <audio style="display: none" id="meeting-audio"></audio>
    <div  class="attendee h-100" *ngFor="let tile of tiles">
      <div class="micro-title">
        <i *ngIf="true" class="fa-solid fa-microphone"></i>
        <i *ngIf="false" class="fa-solid fa-microphone-slash"></i>
      </div>
      <div *ngIf="!tile.state().active" class="user-title">
        G<!--{{attendee.fname.substring(0, 1)}}-->
      </div>
      <video id="video-{{tile.state().tileId}}"
             [class.acRNtd]="tiles.length>=1" controls
             autoplay>
      </video>
      <div class="name-title">
        Ann Ther <!--{{attendee.fname}} {{attendee.lname}}-->
      </div>
    </div>
  </div>

  <app-call-page-footer [isAudio]="isAudio" [isVideo]="isVideo" [isCall]="isCall"
                        (isAudioChange)="onIsAudioChange($event)"
                        (isCallChange)="onIsCallChange($event)"
                        (isVideoChange)="onIsVideoChange($event)"
  ></app-call-page-footer>
</div>
<app-settings-modal></app-settings-modal>
